fastapi[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
langchain 
wikipedia 
langchain-community 
langchain-openai
langchain-anthropic
python-dotenv
pydantic
duckduckgo-search
google-genai
langchain-google-genai